.App {
  text-align: center;
  background-color: rgb(245, 248, 204);
}

.custom-button {
  background-color: #95fa86;
  padding: 4px 20px;
  border-radius: 5px;

}

.create-button {
  background-color: #95fa86;
  padding: 4px 20px;
  border-radius: 5px;
}

.delete-button {
  background-color: #fc5252;
  padding: 4px 20px;
  border-radius: 5px;
}







